.button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 0.3s ease;
    background-color: var(--color-dark);
    color: var(--color-light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
    &:hover {
        background-color: var(--color-dark-hover);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
}
