.floating-label-select {
    position: relative;
    width: 100%;
    max-width: 45rem;

    &__input {
        width: 100%;
        padding: 2.5rem 2rem 1rem 2rem;
        font-size: 1.6rem;
        border: 1px solid rgba(128, 128, 128, 0.767);
        border-top: 0px;
        outline: none;
        background: transparent;
        appearance: none;
        color: var(--color-text);
        background-image: url('data:image/svg+xml;charset=UTF-8, %3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"%3E%3Cpath d="M6 9l6 6 6-6"%3E%3C/path%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) center;
        background-size: 1.5rem;

        cursor: pointer;
    }

    &__label {
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        font-size: 16px;
        transition: all 0.2s ease;
        pointer-events: none;
        color: var(--color-text);
    }

    &__input:focus + &__label,
    &__input:not(:placeholder-shown) + &__label {
        top: 0.7rem;
        font-size: 12px;
        color: #666666;
    }
}
