:root {
    --font-family: 'Inter', sans-serif;
    --font-size-base: 1.6rem;
    --font-size-small: 1.4rem;
    --font-size-large: 2rem;
  
    --color-text: #333;
    --color-background: #FFFFFF;
    --color-dark: #212121; 
    --color-dark-hover: #333333; 
    --color-light: #ffffff;
  
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;
  
    --transition-default: 0.3s ease;
  }
