.signup-page {
    text-align: center;

    &__title {
        margin-bottom: 3rem;
    }

    &__error, &__success {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;

        font-size: 1.3rem;

        & a {
            text-decoration: none;
            color: #267CD3;

            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid #267CD3;
            }
        }
    }

    &__loginBtn {
        font-size: 1.5rem;
        text-decoration: none;
        color: #267CD3;

        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #267CD3;
        }
    }
}
