@use '../../styles/abstracts/mixins' as *;

.header {
  padding: 4rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.425);

  transition: all var(--transition-default);

  &__logo {
    height: 4rem;
    object-fit: cover;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--color-text);
  }

  @include respond("tablet") {
    padding: 4rem 3rem;
    height: 50px;

    &__title {
      font-size: 2rem;
    }

    &__logo {
      height: 3rem;
    }
  }

  @include respond("mobile") {
    padding: 3rem 2rem;
    height: 50px;

    &__title {
      // display: none;
      font-size: 1.8rem;
    }
  }
}
