@use '../../../styles/abstracts/mixins' as *;

.layout {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    transition: all var(--transition-default);

    &__content {
        padding: 6rem 4rem;
        flex-grow: 1;
        background-color: var(--color-background);

        @include respond("tablet") {
            padding: 4rem 3rem;
            height: 50px;
        }
        
        @include respond("mobile") {
            padding: 3rem 2rem;
            height: 50px;
        }
    }
}
